USE [master]
GO
/****** Object:  Database [Valenzuela_DB]    Script Date: 20/12/2019 13:12:31 ******/
CREATE DATABASE [Valenzuela_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Valenzuela_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.FRGP_PROG\MSSQL\DATA\Valenzuela_DB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Valenzuela_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.FRGP_PROG\MSSQL\DATA\Valenzuela_DB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Valenzuela_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Valenzuela_DB]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[Legajo] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[TipoPerfil] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrera](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdUniversidad] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comentario](
	[idComision] [bigint] NOT NULL,
	[IdInstancia] [bigint] NOT NULL,
	[IdAlumno] [bigint] NOT NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](350) NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[Nota] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comision]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comision](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IdMateria] [bigint] NOT NULL,
	[IdTurno] [bigint] NOT NULL,
	[IdCuatrimestre] [bigint] NOT NULL,
	[IdDocente] [bigint] NOT NULL,
	[Anio] [int] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cuatrimestre]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuatrimestre](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetComisionAlumnos]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetComisionAlumnos](
	[idComision] [bigint] NOT NULL,
	[IdAlumno] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idComision] ASC,
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetComisionInstancia]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetComisionInstancia](
	[idComision] [bigint] NOT NULL,
	[IdInstancia] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idComision] ASC,
	[IdInstancia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Docente]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Docente](
	[Legajo] [bigint] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[CodigoPostal] [int] NOT NULL,
	[TipoPerfil] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Instancia]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Instancia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NOT NULL,
	[Estado] [bit] NULL,
	[IdTipoinstancia] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Materia]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdCarrera] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoInstancia]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoInstancia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Turno](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Universidad]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Universidad](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LegajoDocente] [bigint] NOT NULL,
	[Clave] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Alumno] ([Legajo], [Nombre], [Apellido], [Telefono], [Email], [Direccion], [Ciudad], [CodigoPostal], [TipoPerfil]) VALUES (22011, N'Alfredo', N'Contento', 1526333583, N'mail@yahoo.com.ar', N'Fagnano 2781', N'san isidro', 1716, NULL)
INSERT [dbo].[Alumno] ([Legajo], [Nombre], [Apellido], [Telefono], [Email], [Direccion], [Ciudad], [CodigoPostal], [TipoPerfil]) VALUES (22012, N'Elias', N'Valenzuela', 1157490469, N'Elias_valenzuela51@yahoo.com.ar', N'Fagnano 2781', N'Talar', 1716, NULL)
INSERT [dbo].[Alumno] ([Legajo], [Nombre], [Apellido], [Telefono], [Email], [Direccion], [Ciudad], [CodigoPostal], [TipoPerfil]) VALUES (22013, N'Agustin', N'Suarez', 1154590470, N'Eliasvalenzuela953@gmail.com', N'Fagnano 2781', N'Talar', 1716, NULL)
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([Id], [Nombre], [IdUniversidad]) VALUES (1, N'Tecnicatura Universitaria en Programacion', 1)
INSERT [dbo].[Carrera] ([Id], [Nombre], [IdUniversidad]) VALUES (2, N'Ingenieria en Sistema', 1)
INSERT [dbo].[Carrera] ([Id], [Nombre], [IdUniversidad]) VALUES (3, N'Tecnicatura Unicersitaria en sistemas', 1)
SET IDENTITY_INSERT [dbo].[Carrera] OFF
SET IDENTITY_INSERT [dbo].[Comentario] ON 

INSERT [dbo].[Comentario] ([idComision], [IdInstancia], [IdAlumno], [Id], [Descripcion], [FechaAlta], [FechaModificacion], [Nota]) VALUES (3, 1, 22012, 1, N'Le fue bien', CAST(N'2019-04-04 00:00:00.000' AS DateTime), CAST(N'2019-04-10 00:00:00.000' AS DateTime), N'8')
INSERT [dbo].[Comentario] ([idComision], [IdInstancia], [IdAlumno], [Id], [Descripcion], [FechaAlta], [FechaModificacion], [Nota]) VALUES (3, 1, 22012, 2, N'Le Falto que envie mail', CAST(N'2019-04-04 00:00:00.000' AS DateTime), CAST(N'2019-04-10 00:00:00.000' AS DateTime), N'1')
INSERT [dbo].[Comentario] ([idComision], [IdInstancia], [IdAlumno], [Id], [Descripcion], [FechaAlta], [FechaModificacion], [Nota]) VALUES (3, 1, 22012, 3, N'Le Falto que envie mail', CAST(N'2019-04-04 00:00:00.000' AS DateTime), CAST(N'2019-04-10 00:00:00.000' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[Comentario] OFF
SET IDENTITY_INSERT [dbo].[Comision] ON 

INSERT [dbo].[Comision] ([Id], [IdMateria], [IdTurno], [IdCuatrimestre], [IdDocente], [Anio], [Estado]) VALUES (1, 3, 1, 1, 1, 2019, NULL)
INSERT [dbo].[Comision] ([Id], [IdMateria], [IdTurno], [IdCuatrimestre], [IdDocente], [Anio], [Estado]) VALUES (2, 1, 1, 2, 2, 2020, NULL)
INSERT [dbo].[Comision] ([Id], [IdMateria], [IdTurno], [IdCuatrimestre], [IdDocente], [Anio], [Estado]) VALUES (3, 2, 2, 2, 2, 2020, NULL)
SET IDENTITY_INSERT [dbo].[Comision] OFF
SET IDENTITY_INSERT [dbo].[Cuatrimestre] ON 

INSERT [dbo].[Cuatrimestre] ([Id], [Nombre]) VALUES (1, N'Primer Cuatrimestre')
INSERT [dbo].[Cuatrimestre] ([Id], [Nombre]) VALUES (2, N'Segundo Cuatrimestre')
SET IDENTITY_INSERT [dbo].[Cuatrimestre] OFF
INSERT [dbo].[DetComisionAlumnos] ([idComision], [IdAlumno]) VALUES (1, 22012)
INSERT [dbo].[DetComisionAlumnos] ([idComision], [IdAlumno]) VALUES (2, 22011)
INSERT [dbo].[DetComisionAlumnos] ([idComision], [IdAlumno]) VALUES (2, 22012)
INSERT [dbo].[DetComisionInstancia] ([idComision], [IdInstancia]) VALUES (2, 1)
INSERT [dbo].[DetComisionInstancia] ([idComision], [IdInstancia]) VALUES (2, 2)
INSERT [dbo].[DetComisionInstancia] ([idComision], [IdInstancia]) VALUES (2, 3)
INSERT [dbo].[Docente] ([Legajo], [Nombre], [Apellido], [Telefono], [Email], [Direccion], [Ciudad], [CodigoPostal], [TipoPerfil]) VALUES (1, N'Angel', N'Simon', 1157450480, N'asimon@docentes.frgp.utn.edu.ar', N'avenida siempre viva 742', N'Talar', 1716, NULL)
INSERT [dbo].[Docente] ([Legajo], [Nombre], [Apellido], [Telefono], [Email], [Direccion], [Ciudad], [CodigoPostal], [TipoPerfil]) VALUES (2, N'Maxi', N'Fernandez', 1154590470, N'msarfernandez@docentes.frgp.utn.edu.ar', N'República Galáctica', N'Talar', 1716, NULL)
SET IDENTITY_INSERT [dbo].[Instancia] ON 

INSERT [dbo].[Instancia] ([Id], [Nombre], [FechaInicio], [FechaFin], [Estado], [IdTipoinstancia]) VALUES (1, N'Parcial', CAST(N'2019-04-05 00:00:00.000' AS DateTime), CAST(N'2019-04-05 00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Instancia] ([Id], [Nombre], [FechaInicio], [FechaFin], [Estado], [IdTipoinstancia]) VALUES (2, N'Recuperatorio', CAST(N'2019-04-05 00:00:00.000' AS DateTime), CAST(N'2019-04-05 00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Instancia] ([Id], [Nombre], [FechaInicio], [FechaFin], [Estado], [IdTipoinstancia]) VALUES (3, N'Tp1', CAST(N'2019-04-05 00:00:00.000' AS DateTime), CAST(N'2019-04-05 00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Instancia] OFF
SET IDENTITY_INSERT [dbo].[Materia] ON 

INSERT [dbo].[Materia] ([Id], [Nombre], [IdCarrera]) VALUES (1, N'Programacion III', 1)
INSERT [dbo].[Materia] ([Id], [Nombre], [IdCarrera]) VALUES (2, N'Programacion I', 1)
INSERT [dbo].[Materia] ([Id], [Nombre], [IdCarrera]) VALUES (3, N'Laboratorio I', 1)
SET IDENTITY_INSERT [dbo].[Materia] OFF
SET IDENTITY_INSERT [dbo].[TipoInstancia] ON 

INSERT [dbo].[TipoInstancia] ([Id], [Nombre]) VALUES (1, N'Trabajo Practico')
INSERT [dbo].[TipoInstancia] ([Id], [Nombre]) VALUES (2, N'Parcial')
INSERT [dbo].[TipoInstancia] ([Id], [Nombre]) VALUES (3, N'Final')
SET IDENTITY_INSERT [dbo].[TipoInstancia] OFF
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([Id], [Nombre]) VALUES (1, N'Mañana')
INSERT [dbo].[Turno] ([Id], [Nombre]) VALUES (2, N'Tarde')
INSERT [dbo].[Turno] ([Id], [Nombre]) VALUES (3, N'Noche')
SET IDENTITY_INSERT [dbo].[Turno] OFF
SET IDENTITY_INSERT [dbo].[Universidad] ON 

INSERT [dbo].[Universidad] ([Id], [Nombre]) VALUES (1, N'Universidad Tecnológica Nacional')
INSERT [dbo].[Universidad] ([Id], [Nombre]) VALUES (2, N'Universidad de Buenos Aires')
INSERT [dbo].[Universidad] ([Id], [Nombre]) VALUES (3, N'Universidad Nacional de La Plata')
SET IDENTITY_INSERT [dbo].[Universidad] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [LegajoDocente], [Clave]) VALUES (1, 2, N'1234')
INSERT [dbo].[Usuario] ([Id], [LegajoDocente], [Clave]) VALUES (2, 1, N'1234')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
/****** Object:  Index [UQ__Comision__037ED2C2DE2E4045]    Script Date: 20/12/2019 13:12:31 ******/
ALTER TABLE [dbo].[Comision] ADD UNIQUE NONCLUSTERED 
(
	[IdMateria] ASC,
	[IdTurno] ASC,
	[IdCuatrimestre] ASC,
	[IdDocente] ASC,
	[Anio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrera]  WITH CHECK ADD FOREIGN KEY([IdUniversidad])
REFERENCES [dbo].[Universidad] ([Id])
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumno] ([Legajo])
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([Id])
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD FOREIGN KEY([IdInstancia])
REFERENCES [dbo].[Instancia] ([Id])
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD FOREIGN KEY([IdCuatrimestre])
REFERENCES [dbo].[Cuatrimestre] ([Id])
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD FOREIGN KEY([IdDocente])
REFERENCES [dbo].[Docente] ([Legajo])
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materia] ([Id])
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD FOREIGN KEY([IdTurno])
REFERENCES [dbo].[Turno] ([Id])
GO
ALTER TABLE [dbo].[DetComisionAlumnos]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumno] ([Legajo])
GO
ALTER TABLE [dbo].[DetComisionAlumnos]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([Id])
GO
ALTER TABLE [dbo].[DetComisionInstancia]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([Id])
GO
ALTER TABLE [dbo].[DetComisionInstancia]  WITH CHECK ADD FOREIGN KEY([IdInstancia])
REFERENCES [dbo].[Instancia] ([Id])
GO
ALTER TABLE [dbo].[Instancia]  WITH CHECK ADD FOREIGN KEY([IdTipoinstancia])
REFERENCES [dbo].[TipoInstancia] ([Id])
GO
ALTER TABLE [dbo].[Materia]  WITH CHECK ADD FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carrera] ([Id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([LegajoDocente])
REFERENCES [dbo].[Docente] ([Legajo])
GO
/****** Object:  StoredProcedure [dbo].[sp_ComiAlumnos]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_ComiAlumnos] 
(@IdCom bigint , @Legajo Varchar(50), @Nombre Varchar(50), @Apellido Varchar(50)) 
AS
begin
SELECT Comision.Id, Alumno.* 
	FROM [Valenzuela_DB].[dbo].[DetComisionAlumnos] 
		inner join Comision on Comision.Id = DetComisionAlumnos.idComision 
		inner join Alumno on Alumno.Legajo = DetComisionAlumnos.IdAlumno 
where Comision.Id = @IdCom and Alumno.Legajo like @Legajo 
	  and Alumno.Nombre like @Nombre and Alumno.Apellido like @Apellido
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ComisionesDocente]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_ComisionesDocente]
(@IdDocente bigint , @Materia Varchar(50), @Turno Varchar(50), @Cuatrimestre Varchar(50), @Anio Varchar(50)) 
AS
begin
SELECT Comision.Id, Materia.Id, Materia.Nombre, Carrera.Id, Carrera.Nombre, Universidad.Id,
 Universidad.Nombre, Turno.Id, Turno.Nombre, Cuatrimestre.Id, Cuatrimestre.Nombre, Comision.Anio 
 FROM  Comision 
 inner join Materia on IdMateria = Materia.Id 
 inner join Carrera on Carrera.Id = Materia.IdCarrera 
 inner join Universidad on Universidad.Id = Carrera.IdUniversidad 
 inner join Turno on  Turno.id = IdTurno 
 inner join Cuatrimestre on IdCuatrimestre = Cuatrimestre.Id 
 inner join Docente on IdDocente = Docente.Legajo 
	where IdDocente = @IdDocente and Materia.Nombre like @Materia and Turno.Nombre like @Turno
			and Cuatrimestre.Nombre like @Cuatrimestre and Comision.Anio like @Anio
order by Anio desc,Cuatrimestre.Nombre desc
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ComisionInstancia]    Script Date: 20/12/2019 13:12:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_ComisionInstancia]
(@IdCom bigint , @Nombre Varchar(50), @Instancia Varchar(50)) 
AS
begin
SELECT Ins.Id, Ins.Nombre, Ins.FechaInicio, Ins.FechaFin, TI.Id, TI.Nombre
  FROM Instancia as Ins 
  inner join TipoInstancia as TI on IdTipoinstancia = TI.Id 
  inner join DetComisionInstancia on DetComisionInstancia.IdInstancia = Ins.Id 
where DetComisionInstancia.idComision = @IdCom and Ins.Nombre like @Nombre and TI.Nombre like @Instancia
end
GO
USE [master]
GO
